# Use Ganache's network as the default
networks:
  default: development

# Require OpenZepplin Contracts
dependencies:
  - OpenZeppelin/openzeppelin-contracts@4.0.0

# Path remapping to support OpenZepplin imports with NPM-style path
compiler:
  solc:
    version: 0.8.2
    remappings:
      - "@openzeppelin=OpenZeppelin/openzeppelin-contracts@4.0.0"

hypothesis:
  max_examples: 50