# ------------------- anchors ------------------- #
auth: &dockerconfig
  username: $DOCKER_USERNAME
  password: $DOCKER_PASSWORD

chainflip-docker-base: &chainflip-docker-base
  executor: docker/docker
  working_directory: /mnt/ramdisk
  steps:
    - setup_remote_docker:
        version: 20.10.7
        docker_layer_caching: true
    - checkout
    - attach_workspace:
        at: ./
    - docker/check:
        docker-username: DOCKER_USERNAME
        registry: ghcr.io
    - docker/build:
        image: $IMAGE
        registry: ghcr.io
        extra_build_args: $BUILD_ARGS
        dockerfile: $DOCKERFILE
        cache_from: ghcr.io/$IMAGE:latest
        tag: $TAG
    - docker/push:
        registry: ghcr.io
        image: $IMAGE
        tag: $TAG
# ------------------- anchors ------------------- #

version: 2.1
orbs:
  docker: circleci/docker@1.7.0
  discord: antonioned/discord@0.1.0
  gh: circleci/github-cli@1.0.4
workflows:
  chainflip-eth-contracts-tests:
    jobs:
      - build-eth-brownie:
          context:
            - ghcr-credentials
      - run-tests:
          name: Run Stateless Tests
          stateful: "true"
          requires:
            - build-eth-brownie
          context:
            - ghcr-credentials
      - run-tests:
          name: Run Stateful Tests
          stateful: "true"
          requires:
            - build-eth-brownie
          context:
            - ghcr-credentials
          filters:
            branches:
              only:
                - master
      - run-lint:
          requires:
            - build-eth-brownie
          context:
            - ghcr-credentials

jobs:
  build-eth-brownie:
    <<: *chainflip-docker-base
    environment:
      IMAGE: chainflip-io/chainflip-eth-contracts/eth-brownie
      TAG: latest
      DOCKERFILE: Dockerfile.eth-brownie

  run-tests:
    parameters:
      stateful:
        type: string
    docker:
      - image: ghcr.io/chainflip-io/chainflip-eth-contracts/eth-brownie:latest
        auth: *dockerconfig
    resource_class: xlarge
    steps:
      - checkout
      - run:
          name: Install dependencies and test
          command: |
            npm install
      - run: poetry install --quiet
      - run: poetry run brownie pm install OpenZeppelin/openzeppelin-contracts@4.0.0
      - run: poetry run brownie test --network hardhat --stateful <<parameters.stateful>>

  run-lint:
    docker:
      - image: ghcr.io/chainflip-io/chainflip-eth-contracts/eth-brownie:latest
        auth: *dockerconfig
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            npm install
      # Force a failure if there are any warnings
      - run: npx solhint -w 0 'contracts/**/*.sol'
      - run: poetry install --quiet
      - run: poetry run black . --check
