on:
  workflow_call:

jobs:
  lint:
    runs-on: [self-hosted, linux, x64, ephemeral]
    steps:
      - name: Checkout repo
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Setup Node
        uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65
        with:
          node-version: "14"

      - name: Install Python virtualenv
        run: pip install virtualenv

      - name: Install and configure Poetry
        uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a
        with:
          version: "1.4.1"

      - run: npm install
      - run: npx solhint -w 0 'contracts/**/*.sol'
      - run: |
          sed -i '/^package-mode = false$/d' pyproject.toml
          poetry install
      - run: poetry run black . --check
