on:
  workflow_call:

env:
  FORCE_COLOR: 1

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: '3.9.7'
      - uses: snok/install-poetry@v1
      - run: npm install
      - run: npx solhint -w 0 'contracts/**/*.sol'
      - run: poetry install --quiet
      - run: poetry run black . --check