on:
  workflow_call:

jobs:
  lint:
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "14"

      - run: sudo apt install -y python3-pip
      - run: pip install virtualenv

      - name: Install and configure Poetry
        uses: snok/install-poetry@v1

      - run: npm install
      - run: npx solhint -w 0 'contracts/**/*.sol'
      - run: poetry install
      - run: poetry run black . --check
