name: Fuzzer Testing
on:
  push:
    branches:
      - master

jobs:
  fuzzer-tests:
    # Skipping it for now because it needs to be updated with the new fuzzing tests
    if: false

    name: Fuzzer
    # Running on a github runner because for some reason self-hosted fails to run crytic-compile <contract>
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    strategy:
      matrix:
        contract: [TestEchidna, TestEchidnaGovComm]
        config: [echidna-assertion, echidna-property]

    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Setup Python
        uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c
        with:
          python-version: "3.7"

      - name: Setup Node
        uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65
        with:
          node-version: "14"

      - name: Install and configure Poetry
        uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a
        with:
          version: "1.4.1"

      - run: npm install
      - run: npm install --global ganache-cli
      - run: pip3 install eth-brownie
      # Workaround because poetry 2.2.1 is not supported via snok/install-poetry
      # and this is the only difference is the pyproject.toml.
      - run: |
          sed -i '/^package-mode = false$/d' pyproject.toml
          poetry install
      - run: poetry run brownie pm install OpenZeppelin/openzeppelin-contracts@4.8.3
      - run: sudo snap install solc --edge

      - run: curl -fL https://github.com/crytic/echidna/releases/download/v2.0.2/echidna-test-2.0.2-Ubuntu-18.04.tar.gz -o echidna-test-2.0.2-Ubuntu-18.04.tar.gz
      - run: tar -xvf echidna-test-2.0.2-Ubuntu-18.04.tar.gz

      # Running actual fuzzing tests
      - run: poetry run ./echidna-test contracts/echidna/tests/${{ matrix.contract }}.sol --contract ${{ matrix.contract }} --config contracts/echidna/tests/${{ matrix.config }}.config.yml
