name: Fuzzer Testing
on:
  push:
    branches:
      - master

jobs:
  # lint:
  #   # Skipping it for now because it needs to be updated with the new fuzzing tests
  #   if: false

  #   uses: ./.github/workflows/.lint.yml

  fuzzer-tests:
    name: Fuzzer
    # needs: lint
    # Running on a github runner because for some reason self-hosted fails to run crytic-compile <contract>
    runs-on: ubuntu-latest
    timeout-minutes: 30
    # strategy:
    #   matrix:
    #     contract: [TestEchidna, TestEchidnaGovComm]
    #     config: [echidna-assertion, echidna-property]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.7"

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "14"

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - run: npm install
      - run: npm install --global ganache-cli
      - run: pip3 install eth-brownie
      - run: poetry install
      - run: poetry run brownie pm install OpenZeppelin/openzeppelin-contracts@4.8.3
      - run: sudo snap install solc --edge

      - run: curl -fL https://github.com/crytic/echidna/releases/download/v2.2.0/echidna-2.2.0-Ubuntu-22.04.tar.gz -o echidna-2.2.0-Ubuntu-22.04.tar.gz
      - run: tar -xvf echidna-2.2.0-Ubuntu-22.04.tar.gz

      - run: echidna contracts/echidna/tests/NewTestEchidna-flat.sol --contract NewTestEchidna --config contracts/echidna/tests/echidna-assertion.config.yml

      # Running actual fuzzing tests
      # - run: poetry run ./echidna contracts/echidna/tests/${{ matrix.contract }}.sol --contract ${{ matrix.contract }} --config contracts/echidna/tests/${{ matrix.config }}.config.yml
      # - run: poetry run ./echidna contracts/echidna/tests/${{ matrix.contract }}.sol --contract ${{ matrix.contract }} --config contracts/echidna/tests/${{ matrix.config }}.config.yml
