name: Lint and Stateless Tests
on: push

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  lint:
    name: Linting
    uses: chainflip-io/chainflip-eth-contracts/.github/workflows/.lint.yaml@master

  stateless-tests:
    name: Stateless Tests
    needs: lint
    uses: chainflip-io/chainflip-eth-contracts/.github/workflows/.test.yaml@master
    with:
      stateful: false

