name: Release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.7"

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Cache Packages
        uses: actions/cache@v3
        with:
          path: ~/.cache/pypoetry
          key: poetry-${{ runner.os }}-${{ env.PYTHON_VERSION }}-${{ hashFiles('./poetry.lock') }}

      - run: npm install --global ganache-cli
      - run: npm install --global yarn

      - run: yarn

      - run: poetry install

      - run: poetry run brownie compile

      - run: cat ./build/contracts/Deposit.json | jq .bytecode

      - name: Zip ABIs
        run: |
          CONTRACT_ARTIFACTS=$(ls ./build/contracts | grep -v dependencies)
          while read contract; do
            echo $contract
            cat build/contracts/$contract | jq .abi > ./$contract
          done <<< $CONTRACT_ARTIFACTS
          cat ./build/contracts/Deposit.json | jq .bytecode > Deposit_bytecode.json
          zip abis.zip $(find . -maxdepth 1 -type f -name "*.json" -not -name "package*.json" -not -path "./.*")

      - name: Store contract abis as Artefact
        uses: actions/upload-artifact@v2
        with:
          name: abis
          path: |
            *.json
          if-no-files-found: error

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          files: |
            abis.zip
