name: Release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: [self-hosted, linux, x64, ephemeral]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Python virtualenv
        run: pip install virtualenv

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install zip
        run: |
          sudo apt update
          sudo apt install zip

      - run: npm install --global ganache-cli
      - run: npm install --global yarn
      - run: yarn
      - run: poetry install

      - name: Zip ABIs
        run: |
          CONTRACT_ARTIFACTS=$(ls ./build/contracts | grep -v dependencies)
          while read contract; do
            echo $contract
            cat build/contracts/$contract | jq .abi > ./$contract
          done <<< $CONTRACT_ARTIFACTS
          cat ./contracts/utils/Deposit_bytecode.json > Deposit_bytecode.json
          zip abis.zip $(find . -maxdepth 1 -type f -name "*.json" -not -name "package*.json" -not -path "./.*")

      - name: Store contract abis as Artefact
        uses: actions/upload-artifact@v2
        with:
          name: abis
          path: |
            *.json
          if-no-files-found: error

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          files: |
            abis.zip
