name: Release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: [self-hosted, linux, x64, ephemeral]
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Install Python virtualenv
        run: pip install virtualenv

      - name: Setup Node
        uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65
        with:
          node-version: "16"

      - name: Install and configure Poetry
        uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a
        with:
          version: "1.5.1"

      - name: Install zip
        run: |
          sudo apt update
          sudo apt install zip

      - run: npm install --global ganache-cli
      - run: npm install --global yarn
      - run: yarn
      - run: poetry install

      # Ensure that the Deposit's bytecode hasn't changed
      - run: poetry run brownie test tests/unit/vault/test_deployAndFetchBatch.py::test_getCreate2Addr --network hardhat

      - name: Zip ABIs
        run: |
          CONTRACT_ARTIFACTS=$(ls ./build/contracts | grep -v dependencies)
          while read contract; do
            echo $contract
            cat build/contracts/$contract | jq .abi > ./$contract
          done <<< $CONTRACT_ARTIFACTS
          cat ./build/contracts/Deposit.json | jq .bytecode > Deposit_bytecode.json
          zip abis.zip $(find . -maxdepth 1 -type f -name "*.json" -not -name "package*.json" -not -path "./.*")

      - name: Store contract abis as Artefact
        uses: actions/upload-artifact@c7d193f32edcb7bfad88892161225aeda64e9392
        with:
          name: abis
          path: |
            *.json
          if-no-files-found: error

      - name: Release
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844
        with:
          generate_release_notes: true
          files: |
            abis.zip
