name: Stateful Tests
on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  lint:
    uses: ./.github/workflows/.lint.yml

  stateful-tests:
    needs: lint
    runs-on: [self-hosted, linux, x64, ephemeral]
    timeout-minutes: 3600
    strategy:
      matrix:
        test:
          [
            test_all.py,
            test_keyManager.py,
            test_vault.py,
            test_stateChainGateway.py,
            test_upgradability.py,
          ]
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Install Python virtualenv
        run: pip install virtualenv

      - name: Setup Node
        uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65
        with:
          node-version: "18"

      - name: Install and configure Poetry
        uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a
        with:
          version: "1.4.1"

      - run: npm install --global ganache-cli
      - run: npm install --global yarn
      - run: yarn
      # Workaround because poetry 2.2.1 is not supported via snok/install-poetry
      # and this is the only difference is the pyproject.toml.
      - run: |
          sed -i '/^package-mode = false$/d' pyproject.toml
          poetry install
      # Spinning hardhat node externally because there's some intermittent nasty bug when the node is shut down at
      # the end of some stateful test causing the tests to fail - it is confusingly logged as a Flaky inconsistent
      # data generation that behaved differently between runs
      - run: npx hardhat node &
      - run: sleep 2
      - run: poetry run brownie test tests/stateful/${{ matrix.test }} --network hardhat --stateful true
