name: Stateful Tests
on: push

jobs:
  # stateful-vault:
  #   runs-on: [self-hosted, linux, x64, ephemeral]
  #   timeout-minutes: 3600
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v3

  #     - name: Install Python virtualenv
  #       run: pip install virtualenv

  #     - name: Setup Node
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: "16"

  #     - name: Install Poetry
  #       uses: snok/install-poetry@v1

  #     - run: npm install --global ganache-cli
  #     - run: npm install --global yarn
  #     - run: yarn
  #     - run: poetry install
  #     # Spinning hardhat node externally because there's some intermittent nasty bug when the node is shut down at
  #     # the end of some stateful test causing the tests to fail - it is confusingly logged as a Flaky inconsistent
  #     # data generation that behaved differently between runs
  #     - run: npx hardhat node &
  #     - run: sleep 2
  #     - run: poetry run brownie test tests/stateful/test_vault.py --network hardhat --stateful true

  stateful-all:
    runs-on: [self-hosted, linux, x64, ephemeral]
    timeout-minutes: 3600
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Python virtualenv
        run: pip install virtualenv

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - run: npm install --global ganache-cli
      - run: npm install --global yarn
      - run: yarn
      - run: poetry install
      # Spinning hardhat node externally because there's some intermittent nasty bug when the node is shut down at
      # the end of some stateful test causing the tests to fail - it is confusingly logged as a Flaky inconsistent
      # data generation that behaved differently between runs
      - run: npx hardhat node &
      - run: sleep 2
      - run: poetry run brownie test tests/stateful/test_all.py --network hardhat --stateful true
