name: Stateful Tests
on: push


jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: "3.9.7"
      - uses: snok/install-poetry@v1
      - run: npm install
      - run: npx solhint -w 0 'contracts/**/*.sol'
      - run: poetry install --quiet
      - run: poetry run black . --check

  stateful-tests:
    needs: lint
    runs-on: self-hosted
    timeout-minutes: 3600
    strategy:
      matrix:
        test:
          [
            test_all.py,
            test_keyManager.py,
            test_vault.py,
            test_stakeManager.py,
            test_upgradability.py,
          ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "14"
          cache: npm
      - run: npm install
      - run: echo /root/.local/bin >> $GITHUB_PATH
      - run: poetry install --quiet
      # Spinning hardhat node externally because there's some intermittent nasty bug when the node is shut down at 
      # the end of some stateful test causing the tests to fail - it is confusingly logged as a Flaky inconsistent 
      # data generation that behaved differently between runs
      - run: npx hardhat node &
      - run: sleep 2
      - run: poetry run brownie test tests/stateful/${{ matrix.test }} --network hardhat --stateful true
